<a href="https://colab.research.google.com/github/Tabinda788/Python-Programming/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>HackerRank Problems Practice</H1>

<H3> Finding The Percentage (Basic) </H3>

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    a,b,c = student_marks[query_name]
    print('%.2f'%((a+b+c)/3))
    # query_scores = student_marks[query_name]
    # sum = 0
    # for i in query_scores:
    #   sum += i
    # print(sum)

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

<H3>Validating UID (Basic)</H3>

In [ ]:
import re
# the assert statement is used to continue the execute if the given condition evaluates to True. 
# If the assert condition evaluates to False, 
# then it raises the AssertionError exception with the specified error message. 
for _ in range(int(input())):
    u = ''.join(sorted(input()))
    try:
        assert re.search(r'[A-Z]{2}', u)
        assert re.search(r'\d\d\d', u)
        assert not re.search(r'[^a-zA-Z0-9]', u)
        assert not re.search(r'(.)\1', u)
        assert len(u) == 10
    except:
        print('Invalid')
    else:
        print('Valid')

2
B1CD102354
Invalid
B1CDEF2354
Valid

<H3>LISTS (Basic)</H3>

In [ ]:
N = int(input())
lis= list()
for _ in range(N):
    s=input().strip().split(" ")
    if s[0]=="insert":
        lis.insert(int(s[1]),int(s[2]))
    if s[0]=="print":
        print(lis)
    if s[0]=="remove":
        lis.remove(int(s[1]))
    if s[0]=="append":
        lis.append(int(s[1]))
    if s[0]=="sort":
        lis.sort()
    if s[0]=="pop":
        lis.pop()
    if s[0]=="reverse":
        lis.reverse()
    # print(lis)

12
insert 0 5
[5]
insert 1 10
[5, 10]
insert 0 6
[6, 5, 10]
print
[6, 5, 10]
[6, 5, 10]
remove 6
[5, 10]
append 9
[5, 10, 9]
append 1
[5, 10, 9, 1]
sort
[1, 5, 9, 10]
print
[1, 5, 9, 10]
[1, 5, 9, 10]
pop
[1, 5, 9]
reverse
[9, 5, 1]
print
[9, 5, 1]
[9, 5, 1]

<H3> String Formatting (Basic) </H3>

In [ ]:
n = int(input().strip())
# print(len(str(bin(n))[2:]))
w = len(str(bin(n))[2:])
for i in range(1,n+1,1):
    o = str(oct(i))[2:]
    h = str(hex(i))[2:]
    h = h.upper()
    b = str(bin(i))[2:]
    d = str(i)
    print('{:>{width}} {:>{width}} {:>{width}} {:>{width}}'.format(d,o,h,b,width=w))

5
  1   1   1   1
  2   2   2  10
  3   3   3  11
  4   4   4 100
  5   5   5 101

<H3>Mutations (Basic)</H3>

In [ ]:
def mutate_string(string, position, character):
    chars = list(string)
    # print(chars)
    chars[position] = character
    # print(chars)
    return "".join(chars)


if __name__ == '__main__':
    s = input()
    i, c = input().split()
    # print(i)
    s_new = mutate_string(s, int(i), c)
    print(s_new)

tabinda
2 3
ta3inda

<H3>Merge the tools (Intermediate)</H3>

In [ ]:
from collections import OrderedDict

def merge_the_tools(string, k):
    for i in range(0, len(string)-k+1, k):
        # print(i)
        # print(string[i:i + k])
        print(''.join(OrderedDict.fromkeys(string[i:i + k])))

if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

tabindahilal
4
tabi
ndah
ila

In [ ]:
4# vowels keys
from collections import OrderedDict
od = OrderedDict()
od['a'] = 'vowel'
od['e'] = 'vowel'
od['i'] = 'vowel'
od['o'] = 'vowel'
od['u'] = 'vowel'
# keys = {'a', 'e', 'i', 'o', 'u' }
# value = 'vowel'

vowels = od.fromkeys(keys, value)
print(vowels)

OrderedDict([('o', 'vowel'), ('i', 'vowel'), ('a', 'vowel'), ('e', 'vowel'), ('u', 'vowel')])

<H3>Find a String (Basic)</H3>

In [ ]:
def count_substring(string, sub_string):
    count_sub_string = 0
    for i in range(len(string) - len(sub_string) + 1):
        if string[i:i + len(sub_string)] == sub_string:
            count_sub_string += 1
    return count_sub_string


if __name__ == '__main__':
    string = input().strip()
    sub_string = input().strip()

    count = count_substring(string, sub_string)
    print(count)

tabindatab
tab
2

<H3> Captilize (Basic)</H3>

In [ ]:
s = input()
s_ar = s.split(' ')
final_ar = []
space = ' '
for w in s_ar:
    final_ar.append(w.capitalize())
print(space.join(final_ar))

hello
Hello

<H3>Tuples (Basic)</H3>

In [ ]:
# import hash
# hash(1,2)
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    t = tuple(integer_list)
    print(hash(t))

3
1 2 2
2528502973978491464

In [ ]:
import re
m = re.search(r'\w+','aaadaa')
m.end()

6

In [ ]:
m.start()

0

<H3>start() & end() (Intermediate)</H3>

In [ ]:
import re
string = input()
substring = input()

pattern = re.compile(substring)
# print(pattern)
match = pattern.search(string)
# print(match)

if not match:
  print('(-1,-1)')

while match:
  print('({0},{1})'.format(match.start(),match.end()-1))
  match = pattern.search(string, match.start()+1)

Hello
He
(0,1)

In [ ]:
def shout(text):
    return text.upper()
 
print(shout('Hello'))
 
yell = shout
 
print(yell('Hello'))

HELLO
HELLO

In [ ]:
# Python program to illustrate functions
# can be passed as arguments to other functions
def shout(text):
    return text.upper()
 
def whisper(text):
    return text.lower()
 
def greet(func):
    # storing the function in a variable
    greeting = func("""Hi, I am created by a function passed as an argument.""")
    print (greeting)
 
greet(shout)
greet(whisper)

HI, I AM CREATED BY A FUNCTION PASSED AS AN ARGUMENT.
hi, i am created by a function passed as an argument.

In [ ]:
# Python program to illustrate functions
# Functions can return another function
 
def create_adder(x):
    def adder(y):
        return x+y
 
    return adder
 
add_15 = create_adder(15)
 
print(add_15(10))

25

In [ ]:
@gfg_decorator
def hello_decorator():
    print("Gfg")

# '''Above code is equivalent to -

# def hello_decorator():
#     print("Gfg")
    
# hello_decorator = gfg_decorator(hello_decorator)'''

In [ ]:
# defining a decorator
def hello_decorator(func):

	# inner1 is a Wrapper function in
	# which the argument is called
	
	# inner function can access the outer local
	# functions like in this case "func"
	def inner1():
		print("Hello, this is before function execution")

		# calling the actual function now
		# inside the wrapper function.
		func()

		print("This is after function execution")
		
	return inner1


# defining a function, to be called inside wrapper
def function_to_be_used():
	print("This is inside the function !!")


# passing 'function_to_be_used' inside the
# decorator to control its behavior
function_to_be_used = hello_decorator(function_to_be_used)


# calling the function
function_to_be_used()

Hello, this is before function execution
This is inside the function !!
This is after function execution

In [ ]:
# importing libraries
import time
import math

# decorator to calculate duration
# taken by any function.
def calculate_time(func):
	
	# added arguments inside the inner1,
	# if function takes any arguments,
	# can be added like this.
	def inner1(*args, **kwargs):

		# storing time before function execution
		begin = time.time()
		
		func(*args, **kwargs)

		# storing time after function execution
		end = time.time()
		print("Total time taken in : ", func.__name__, end - begin)

	return inner1



# this can be added to any function present,
# in this case to calculate a factorial
@calculate_time
def factorial(num):

	# sleep 2 seconds because it takes very less time
	# so that you can see the actual difference
	time.sleep(2)
	print(math.factorial(num))

# calling the function.
factorial(10)

3628800
Total time taken in :  factorial 2.003044366836548

<H3>Decorators (Intermediate)</H3>

In [ ]:
import operator
def person_lister(f):
    def inner(people):
        return map(f, sorted(people, key=lambda x: int(x[2])))
    return inner

@person_lister
def name_format(person):
  # print(person[1])
  # pass
  return ("Mr. " if person[3] == "M" else "Ms. ") + person[0] + " " + person[1]

if __name__ == '__main__':
    people = [input().split() for i in range(int(input()))]
    print(*name_format(people), sep='\n')

<H3>Form a Pattern (Basic)</H3>

In [ ]:
for i in range(1,int(input())):
    print([0, 1, 22, 333, 4444, 55555, 666666, 7777777, 88888888, 999999999][i])

3
1
22

<H3>Nested List (Basic)</H3>

In [ ]:
x, y, z, n = int(input()), int(input()), int(input()), int(input())
print ([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1) if a + b + c != n ])

2
2
2
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 2], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

<H3>Nested List (Basic)</H3>

In [ ]:
x = int(input())
y = int(input())
z = int(input())
print([[a,b,c] for a in range(0,x+1) for b in range(0,y+1) for c in range(0,z+1)])

1
2
2
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2]]

In [ ]:
for i in range(0,2):
  print(i)

0
1

<H3>LISTS (Basic)</H3>

In [ ]:
n = int(input())
arr = list(map(int, input().split()))
m =max(arr)
while max(arr)==m:
  arr.remove(max(arr))
print(max(arr))

5
6 6 8 9 1 5
8

<H3>String Split and Join (Basics)</H3>

In [ ]:
def split_and_join(line):
    # write your code here
    res = '-'.join(line.split())
    return res

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

Hello there
Hello-there

<H3>Validating phone numbers</H3>

In [ ]:
from re import compile, match

n = int(input())
for _ in range(n):
    phone_number = input()
    condition = compile(r'^[7-9]\d{9}$')
    # print(match(condition,phone_number))
    if bool(match(condition, phone_number)):
        print("YES")
    else:
        print("NO")

1
9906568140
<re.Match object; span=(0, 10), match='9906568140'>
YES

<H3> Calculate Marks (Basic)</H3>

In [ ]:
marksheet = []
for _ in range(0,int(input())):
    marksheet.append([input(), float(input())])
# print(marksheet)
second_highest = sorted(list(set([marks for name, marks in marksheet])))[1]
# print(second_highest)
print('\n'.join([a for a,b in sorted(marksheet) if b == second_highest ]))

<H3> Default Arguments (Intermediate) </H3>

In [ ]:
class EvenStream(object):
    def __init__(self):
        self.current = 0

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

class OddStream(object):
    def __init__(self):
        self.current = 1

    def get_next(self):
        to_return = self.current
        self.current += 2
        return to_return

def print_from_stream(n, stream=EvenStream()):
    stream.__init__()
    for _ in range(n):
        print(stream.get_next())


queries = int(input())
for _ in range(queries):
    stream_name, n = input().split()
    n = int(n)
    if stream_name == "even":
        print_from_stream(n)
    else:
        print_from_stream(n, OddStream())

3
odd 2
1
3
even 3
0
2
4
odd 5
1
3
5
7
9

In [ ]:
def create_multipliers():
    return [lambda x : i * x for i in range(5)]

create_multipliers()

[<function __main__.create_multipliers.<locals>.<listcomp>.<lambda>>,
 <function __main__.create_multipliers.<locals>.<listcomp>.<lambda>>,
 <function __main__.create_multipliers.<locals>.<listcomp>.<lambda>>,
 <function __main__.create_multipliers.<locals>.<listcomp>.<lambda>>,
 <function __main__.create_multipliers.<locals>.<listcomp>.<lambda>>]

In [ ]:
def create_multipliers():
    return [lambda x : i * x for i in range(5)]

for multiplier in create_multipliers():
  print(multiplier(2))

8
8
8
8
8

In [ ]:
from functools import partial
from operator import mul

def create_multipliers():
    return [partial(mul, i) for i in range(5)]

In [ ]:
for multiplier in create_multipliers():
  print(multiplier(2))

0
2
4
6
8

<H3>The Minion Game</H3>

In [ ]:
def minion_game(string):
    # your code goes here
    vowels = 'AEIOU'
    Stuart_score, Kevin_score = 0, 0
    length = len(string)
    for start_idx in range(length):
        score = length - start_idx
        if string[start_idx] in vowels:
            Kevin_score += score
        else:
            Stuart_score += score
    if Stuart_score == Kevin_score:
        print('Draw')
    if Stuart_score > Kevin_score:
        print('Stuart {}'.format(Stuart_score))
    if Stuart_score < Kevin_score:
        print('Kevin {}'.format(Kevin_score))
if __name__ == '__main__':
  s = input()
  minion_game(s)

BANANA
Stuart 12

In [ ]:
def minion_game(string):
    # your code goes here
    res = [string[i: j] for i in range(len(string)) for j in range(i + 1, len(string) + 1)]
    auxiliaryList = []
    for word in res:
      if word not in auxiliaryList:
        auxiliaryList.append(word)
    vowel = "aeiouAEIOU"
    lis = []
    lis1 = []
    for i in auxiliaryList:
      if i[0] in vowel:
        lis.append(i)   
      else:
        lis1.append(i)
    score = 0
    for i in lis1:
      for j in res:
        if i == j:
          score = score +1
        
    print("Stuart",score)

if __name__ == '__main__':
  s = input()
  minion_game(s)
    #   score = score +1
    # print(score)

# score = 0
# for occ in lis:
#   if occ in test_str:
#     score = score +1
#     print(occ,score)




    # print ("1st letter is consonant: ",i) 
  # for j in vowels:
  #   if i.startswith(j):
  #     print(i)

# vowel = "aeiouAEIOU"
# if test_str[0] in vowel:
#     print ("1st letter is vowel: ",x)       
# else:
#     print ("1st letter is consonant: ",x)

Banana
Stuart 12

In [ ]:
n = int(input("Enter rows: "))
k,p,s = 0,n-1,1
for i in range(n):
  if k<=p:
    print(" "*p + "*" * s + " " * (p-1), end = " ")
    print()
    p = p-1
    s = s+2

Enter rows: 10
         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

<H3> CRISTMAS TREE (NOT A HAKERRANK PROBLEM) </H3>

In [ ]:
# n = int(input("Enter rows: "))

def cristmas(n,k=0,s=1):
  p = n-1
  # k,p,s = 0,n-1,1
  for i in range(n):
    if k<=p:
      print(" "*p + "*" * s + " " * (p-1), end = " ")
      print()
      p = p-1
      s = s+2

cristmas(10,3)
cristmas(9,3,4)
cristmas(8,3,5)

for i in range(5):
  print("      ", "*"*5)

         *
        ***
       *****
      *******
     *********
    ***********
   *************
        ****
       ******
      ********
     **********
    ************
   **************
       *****
      *******
     *********
    ***********
   *************
       *****
       *****
       *****
       *****
       *****

<H1> Alphabet Rangoli (Basic) </H3>

In [ ]:
def print_rangoli(n):
    w = (n-1) * 2 + ((n * 2) - 1)
    #upper half
    for i in range(1,n,1):
        number_of_letter = (i*2) - 1
        s = ''
        letter_value = 97 + n - 1
        for i in range(0,number_of_letter):
            if(i != 0):
                s += '-' 
            s += chr(letter_value) 
            if(i<(number_of_letter-1) / 2):
                letter_value = letter_value - 1
            else:
                letter_value = letter_value + 1            
        print(s.center(w,'-'))
        
        
    #bottom half
    for i in range(n,0,-1):
        number_of_letter = (i*2) - 1
        s = ''
        letter_value = 97 + n - 1
        for i in range(0,number_of_letter):
            if(i != 0):
                s += '-' 
            s += chr(letter_value) 
            if(i<(number_of_letter-1) / 2):
                letter_value = letter_value - 1
            else:
                letter_value = letter_value + 1            
        print(s.center(w,'-'))
        # your code goes here

if __name__ == '__main__':
    n = int(input())
    print_rangoli(n)

26
--------------------------------------------------z--------------------------------------------------
------------------------------------------------z-y-z------------------------------------------------
----------------------------------------------z-y-x-y-z----------------------------------------------
--------------------------------------------z-y-x-w-x-y-z--------------------------------------------
------------------------------------------z-y-x-w-v-w-x-y-z------------------------------------------
----------------------------------------z-y-x-w-v-u-v-w-x-y-z----------------------------------------
--------------------------------------z-y-x-w-v-u-t-u-v-w-x-y-z--------------------------------------
------------------------------------z-y-x-w-v-u-t-s-t-u-v-w-x-y-z------------------------------------
----------------------------------z-y-x-w-v-u-t-s-r-s-t-u-v-w-x-y-z----------------------------------
--------------------------------z-y-x-w-v-u-t-s-r-q-r-s-t-u-v-w-x-y-z--------------------------------
------------------------------z-y-x-w-v-u-t-s-r-q-p-q-r-s-t-u-v-w-x-y-z------------------------------
----------------------------z-y-x-w-v-u-t-s-r-q-p-o-p-q-r-s-t-u-v-w-x-y-z----------------------------
--------------------------z-y-x-w-v-u-t-s-r-q-p-o-n-o-p-q-r-s-t-u-v-w-x-y-z--------------------------
------------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------------------
----------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------------------
--------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------------------
------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------------
----------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------------
--------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------------
------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------
----------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------
--------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------
------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------
----z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----
--z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--
z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z
--z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--
----z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----
------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------
--------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------
----------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------
------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------
--------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------------
----------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------------
------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------------
--------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z--------------------
----------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z----------------------
------------------------z-y-x-w-v-u-t-s-r-q-p-o-n-m-n-o-p-q-r-s-t-u-v-w-x-y-z------------------------
--------------------------z-y-x-w-v-u-t-s-r-q-p-o-n-o-p-q-r-s-t-u-v-w-x-y-z--------------------------
----------------------------z-y-x-w-v-u-t-s-r-q-p-o-p-q-r-s-t-u-v-w-x-y-z----------------------------
------------------------------z-y-x-w-v-u-t-s-r-q-p-q-r-s-t-u-v-w-x-y-z------------------------------
--------------------------------z-y-x-w-v-u-t-s-r-q-r-s-t-u-v-w-x-y-z--------------------------------
----------------------------------z-y-x-w-v-u-t-s-r-s-t-u-v-w-x-y-z----------------------------------
------------------------------------z-y-x-w-v-u-t-s-t-u-v-w-x-y-z------------------------------------
--------------------------------------z-y-x-w-v-u-t-u-v-w-x-y-z--------------------------------------
----------------------------------------z-y-x-w-v-u-v-w-x-y-z----------------------------------------
------------------------------------------z-y-x-w-v-w-x-y-z------------------------------------------
--------------------------------------------z-y-x-w-x-y-z--------------------------------------------
----------------------------------------------z-y-x-y-z----------------------------------------------
------------------------------------------------z-y-z------------------------------------------------
--------------------------------------------------z--------------------------------------------------

<H1> PRACTICE DAY 2 </H1>

In [1]:
print('C:\some\name')  # here \n means newline!
print(r'C:\some\name')  # note the r before the quote

C:\some
ame
C:\some\name

<H3> Zip </H3>

In [2]:
name = [ "Manjeet", "Nikhil", "Shambhavi", "Astha" ]
roll_no = [ 4, 1, 3, 2 ]

# using zip() to map values
mapped = zip(name, roll_no)

print(set(mapped))

{('Nikhil', 1), ('Manjeet', 4), ('Astha', 2), ('Shambhavi', 3)}

In [3]:
names = ['Mukesh', 'Roni', 'Chari']
ages = [24, 50, 18]

for i, (name, age) in enumerate(zip(names, ages)):
	print(i, name, age)

0 Mukesh 24
1 Roni 50
2 Chari 18

In [4]:
stocks = ['reliance', 'infosys', 'tcs']
prices = [2175, 1127, 2750]

new_dict = {stocks: prices for stocks,
			prices in zip(stocks, prices)}
print(new_dict)

{'reliance': 2175, 'infosys': 1127, 'tcs': 2750}

In [5]:
# Python code to demonstrate the working of
# unzip

# initializing lists
name = ["Manjeet", "Nikhil", "Shambhavi", "Astha"]
roll_no = [4, 1, 3, 2]
marks = [40, 50, 60, 70]

# using zip() to map values
mapped = zip(name, roll_no, marks)

# converting values to print as list
mapped = list(mapped)

# printing resultant values
print("The zipped result is : ", end="")
print(mapped)

print("\n")

# unzipping values
namz, roll_noz, marksz = zip(*mapped)

print("The unzipped result: \n", end="")

# printing initial lists
print("The name list is : ", end="")
print(namz)

print("The roll_no list is : ", end="")
print(roll_noz)

print("The marks list is : ", end="")
print(marksz)

The zipped result is : [('Manjeet', 4, 40), ('Nikhil', 1, 50), ('Shambhavi', 3, 60), ('Astha', 2, 70)]


The unzipped result:
The name list is : ('Manjeet', 'Nikhil', 'Shambhavi', 'Astha')
The roll_no list is : (4, 1, 3, 2)
The marks list is : (40, 50, 60, 70)

In [6]:
# Python code to demonstrate the application of
# zip()

# initializing list of players.
players = ["Sachin", "Sehwag", "Gambhir", "Dravid", "Raina"]

# initializing their scores
scores = [100, 15, 17, 28, 43]

# printing players and scores.
for pl, sc in zip(players, scores):
	print("Player : %s	 Score : %d" % (pl, sc))

Player : Sachin	 Score : 100
Player : Sehwag	 Score : 15
Player : Gambhir	 Score : 17
Player : Dravid	 Score : 28
Player : Raina	 Score : 43

<H3> Enumerate </H3>

In [7]:
#python
# Python program to illustrate
# enumerate function
l1 = ["eat","sleep","repeat"]
s1 = "geek"

# creating enumerate objects
obj1 = enumerate(l1)
obj2 = enumerate(s1)

print ("Return type:",type(obj1))
print (list(enumerate(l1)))

# changing start index to 2 from 0
print (list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [10]:
# Python program to illustrate
# enumerate function in loops
l1 = ["eat","sleep","repeat"]

# printing the tuples in object directly
for ele in enumerate(l1):
	print (ele)
# print
# changing index and printing separately
for count,ele in enumerate(l1,100):
	print (count,ele)

#getting desired output from tuple
for count,ele in enumerate(l1):
  print(count)
  print(ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat
0
eat
1
sleep
2
repeat

<H3> Lambda </H3>

In [12]:
# Python program to demonstrate
# lambda functions


string ='Learning Python'

# lambda returns a function object
print(lambda string : string)

<function <lambda> at 0x7fb24bfa0e60>

In [13]:
# Python code to illustrate cube of a number
# showing difference between def() and lambda().
def cube(y):
	return y*y*y

lambda_cube = lambda y: y*y*y

# using the normally
# defined function
print(cube(5))

# using the lambda function
print(lambda_cube(5))

125
125

In [14]:
tables = [lambda x=x: x*10 for x in range(1, 11)]

for table in tables:
	print(table())

10
20
30
40
50
60
70
80
90
100

In [15]:
# Example of lambda function using if-else
Max = lambda a, b : a if(a > b) else b

print(Max(1, 2))

2

In [18]:
List = [[2,3,4],[1, 4, 16, 64],[3, 6, 9, 12]]

# Sort each sublist
sortList = lambda x: (sorted(i) for i in x)
# print(sortList(List))

# Get the second largest element
secondLargest = lambda x, f : [y[len(y)-2] for y in f(x)]
res = secondLargest(List, sortList)

print(res)

[3, 16, 9]

<H3> Filter </H3>

In [26]:
# function that filters vowels
def fun(variable):
  # print(variable)
	letters = ['a', 'e', 'i', 'o', 'u']
    
	if (variable in letters):
		return True
	else:
		return False
  


# sequence
sequence = ['g', 'e', 'e', 'j', 'k', 's', 'p', 'r']

# using filter function
filtered = filter(fun, sequence)
# print(filtered)

print('The filtered letters are:')
for s in filtered:
	print(s)

The filtered letters are:
e
e

In [27]:
# a list contains both even and odd numbers.
seq = [0, 1, 2, 3, 5, 8, 13]

# result contains odd numbers of the list
result = filter(lambda x: x % 2 != 0, seq)
print(list(result))

# result contains even numbers of the list
result = filter(lambda x: x % 2 == 0, seq)
print(list(result))

[1, 3, 5, 13]
[0, 2, 8]

<H3> Map Function </H3>

In [30]:
# Python program to demonstrate working
# of map.

# Return double of n
def addition(n):
  # print(n+n)
	return n + n

# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

In [31]:
# Double all numbers using map and lambda

numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)
print(list(result))

[2, 4, 6, 8]

In [32]:
# Add two lists using map and lambda

numbers1 = [1, 2, 3]
numbers2 = [4, 5, 6]

result = map(lambda x, y: x + y, numbers1, numbers2)
print(list(result))

[5, 7, 9]

<H3> Reduce </H3>

In [33]:
# python code to demonstrate working of reduce()

# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 5, 6, 2, ]
# reduce(lambda x, y: x+y, [1, 2, 3, 4, 5]) calculates ((((1+2)+3)+4)+5)
# using reduce to compute sum of list
print("The sum of the list elements is : ", end="")
print(functools.reduce(lambda a, b: a+b, lis))

# using reduce to compute maximum element from list
print("The maximum element of the list is : ", end="")
print(functools.reduce(lambda a, b: a if a > b else b, lis))

The sum of the list elements is : 17
The maximum element of the list is : 6

In [34]:
# python code to demonstrate working of reduce()
# using operator functions

# importing functools for reduce()
import functools

# importing operator for operator functions
import operator

# initializing list
lis = [1, 3, 5, 6, 2, ]

# using reduce to compute sum of list
# using operator functions
print("The sum of the list elements is : ", end="")
print(functools.reduce(operator.add, lis))

# using reduce to compute product
# using operator functions
print("The product of list elements is : ", end="")
print(functools.reduce(operator.mul, lis))

# using reduce to concatenate string
print("The concatenated product is : ", end="")
print(functools.reduce(operator.add, ["geeks", "for", "geeks"]))

The sum of the list elements is : 17
The product of list elements is : 180
The concatenated product is : geeksforgeeks

In [35]:
# python code to demonstrate summation
# using reduce() and accumulate()

# importing itertools for accumulate()
import itertools

# importing functools for reduce()
import functools

# initializing list
lis = [1, 3, 4, 10, 4]

# printing summation using accumulate()
print("The summation of list using accumulate is :", end="")
print(list(itertools.accumulate(lis, lambda x, y: x+y)))

# printing summation using reduce()
print("The summation of list using reduce is :", end="")
print(functools.reduce(lambda x, y: x+y, lis))

The summation of list using accumulate is :[1, 4, 8, 18, 22]
The summation of list using reduce is :22

<H3> Assert </H3>

![Assertion.png]()

In [36]:
# Python 3 code to demonstrate
# working of assert

# initializing number
a = 4
b = 0

# using assert to check for 0
print("The value of a / b is : ")
assert b != 0
print(a / b)

The value of a / b is :

AssertionError: ignored

In [40]:
# Python 3 code to demonstrate
# working of assert
# Application

# initializing list of foods temperatures
batch = [ 40, 26, 39, 30, 25, 21]

# initializing cut temperature
cut = 26

# using assert to check for temperature greater than cut
for i in batch:
	assert i >= 26, "Batch is Rejected"
	print (str(i) + " is O.K" )

40 is O.K
26 is O.K
39 is O.K
30 is O.K

AssertionError: ignored

<H3> Yield </H3>

In [41]:
# A Simple Python program to demonstrate working
# of yield

# A generator function that yields 1 for the first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3

# Driver code to check above generator function
for value in simpleGeneratorFun():
	print(value)

1
2
3

In [1]:
# A Python program to generate squares from 1
# to 100 using yield and therefore generator

# An infinite generator function that prints
# next square number. It starts with 1
def nextSquare():
	i = 1

	# An Infinite loop to generate squares
	while True:
		yield i*i				
		i += 1 # Next execution resumes
				# from this point	

# Driver code to test above generator
# function
for num in nextSquare():
  # print(num)
	if num > 100:
		break	
	print(num)

1
4
9
16
25
36
49
64
81
100

<H3> Iterables </H3>

In [2]:
# myList is an iterable
mylist = [1, 2, 3]
for i in mylist: 
  print(i)

1
2
3

<H3>Generators

Generators are iterators, a kind of iterable you can only iterate over once. Generators do not store all the values in memory, they generate the values on the fly:
BUT, you cannot perform for i in mygenerator a second time since generators can only be used once: they calculate 0, then forget about it and calculate 1, and end calculating 4, one by one.</h3>

In [3]:
mygenerator = (x*x for x in range(3))
for i in mygenerator:
  print(i)

0
1
4

<h3>Yield is a keyword that is used like return, except the function will return a generator. When you call the function, the code you have written in the function body does not run. The function only returns the generator object, this is a bit tricky.

Then, your code will continue from where it left off each time for uses the generator. The first time the for calls the generator object created from your function, it will run the code in your function from the beginning until it hits yield, then it'll return the first value of the loop. Then, each subsequent call will run another iteration of the loop you have written in the function and return the next value. This will continue until the generator is considered empty, which happens when the function runs without hitting yield. That can be because the loop has come to an end, or because you no longer satisfy an "if/else".</h3>

In [6]:
def create_generator():
  mylist = range(3)
  for i in mylist:
    yield i*i

mygenerator = create_generator() # create a generator
print(mygenerator) # mygenerator is an object!
for i in mygenerator:
     print(i)

<generator object create_generator at 0x7f70ccda5f50>
0
1
4

<h3>Dunder Functions Dunder here means Double Under (Underscores).</h3>

In [7]:
# declare our own string class
class String:
	
	# magic method to initiate object
	def __init__(self, string):
		self.string = string
		
# Driver Code
if __name__ == '__main__':
	
	# object creation
	string1 = String('Hello')

	# print object location
	print(string1)

<__main__.String object at 0x7f70c73a97d0>

In [8]:
# declare our own string class
class String:
	
	# magic method to initiate object
	def __init__(self, string):
		self.string = string
		
	# print our string object
	def __repr__(self):
		return 'Object: {}'.format(self.string)

# Driver Code
if __name__ == '__main__':
	
	# object creation
	string1 = String('Hello')

	# print object location
	print(string1)

Object: Hello

In [9]:
# declare our own string class
class String:
	
	# magic method to initiate object
	def __init__(self, string):
		self.string = string
		
	# print our string object
	def __repr__(self):
		return 'Object: {}'.format(self.string)

# Driver Code
if __name__ == '__main__':
	
	# object creation
	string1 = String('Hello')
	
	# concatenate String object and a string
	print(string1 +' world')

TypeError: ignored

In [11]:
# declare our own string class
class String:
	
	# magic method to initiate object
	def __init__(self, string):
		self.string = string
		
	# print our string object
	def __repr__(self):
		return 'Object: {}'.format(self.string)
		
	def __add__(self, other):
		return self.string + other

# Driver Code
if __name__ == '__main__':
	
	# object creation
	string1 = String('Hello')
	
	# concatenate String object and a string
	print(string1 +' World')

Hello World

<h3> Coroutines In Python: When a function takes time to initialize</h3>

In [12]:
def searcher():
  import time
  # Some 4 seconds time to read the task
  model = "say here we are reading some machine learning model which is taking some amount of time"
  time.sleep(4)

  while True:
    text = (yield)
    if text in model:
      print("your text is in model")
    else:
      print("your text is not in the model")
search = searcher()
print("search started")
next(search)
print("Next method run")
search.send("reading")

search started
Next method run
your text is in model

In [13]:
def seacher():

    import time

    # some 4 seconds time consuming task

    book = []

    time.sleep(4)

    print("enter the coroutine you want to add")

    for i in range(5):

        user = input()

        book.append(user)





    while True:

        text = (yield)

        if text in book :

            print("Your text in the book.")



        else:

            print("Text is not in the book")



search = seacher()

print("search started")

next(search)

print("Next method running")

print("Enter your name")

searching = input()

search.send(searching)

search started
enter the coroutine you want to add
tsbinds
tab
ahdaj
mam
tab
Next method running
Enter your name
h
Text is not in the book

<h3> Synchronous programming means exection of code 1 after another i.e doing things sequencially
Asynchronous means we don't need to wait for other things to be done but we just execute the steps following and then come back to the part of code where we left

In [25]:
import asyncio
# create a coroutine first
# create a function with async keyword which creates a wrapper around a function and when the function is called
# it will return a coroutined object. This coroutine object is just like a function and it can be executed. To execute a 
# coroutine we have to do is await
async def main():
  task = asyncio.create_task(foo())
  print("A")
  await asyncio.sleep(1)
  print("B")
  return_value = await task
  print(f"Return value was {return_value}")
# asyncio.run(main())
async def foo():
  print("1")
  await asyncio.sleep(2)
  print("2")
  return 10

# asyncio.run(main())